import React from 'react'

import clsx from 'clsx'

import { useOptionalSekai } from '@/internal/useOptionalSekai'

import styles from './{{pascalCase component}}.module.scss'

import type { {{pascalCase component}}Props } from '@/types/components/{{kebabCase component}}/{{pascalCase component}}.types'

export const {{pascalCase component}} = ({
  sekai,
  themeMode,
  ...rest
}: {{pascalCase component}}Props) => {
  const { sekaiColor, modeTheme, isLight } = useOptionalSekai({ sekai, mode: themeMode })

  const optionStyle = {
    '--sekai-color': sekaiColor,
  }

  return (
    <div
      {...rest}
      ref={rest.ref}
      className={clsx(styles['{{pascalCase component}}'], rest.className)}
      style={{ ...(optionStyle as React.CSSProperties), ...rest.style }}></div>
  )

}